.advantage {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.advantage-1,
.advantage-2 {
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.advantage-text {
	text-align: center;
}

.advantage-text h2 {
	font-size: 36px;
}

/*  Tablet  */

@media screen and (min-width: 768px) {
	.advantage-1,
	.advantage-2 {
		margin: 7% 0;
		gap: 50px;
		width: 70%;
	}
	.advantage-text h2 {
		font-size: 48px;
	}
}

/*  Pc  */

@media screen and (min-width: 1040px) {
	.advantage-1,
	.advantage-2 {
		margin: 2% 0;
		gap: 0;
		width: 80%;
	}

	.advantage-1 p,
	.advantage-2 p {
		width: 50%;
	}
	.advantage-1 {
		flex-direction: row;
	}
	.advantage-2 {
		flex-direction: row-reverse;
	}
	.advantage-text {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
}
