/*   Mobile  */

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: auto;
	padding: 2% 0;
	width: 90%;
}

ul li,
.header-cta {
	display: none;
}

.header-burger {
	border: none;
	background: none;
}

/*  Tablet    */

@media screen and (min-width: 768px) {
	nav {
		padding: 5%;
		font-weight: 700;
	}

	ul li,
	a,
	.header-cta {
		display: inline;
	}

	ul li {
		list-style: none;
	}

	.header-left {
		display: flex;
		align-items: center;
	}

	.header-nav-a {
		opacity: 70%;
		color: #36536b;
		transition: 0.3s;
	}
	.header-nav-a:hover {
		opacity: 100%;
	}

	.header-cta:hover {
		background-color: #da6d97;
	}
	.header-burger {
		display: none;
	}
	ul {
		display: flex;
		gap: 5%;
	}
}

/* 	Pc 	*/
@media screen and (min-width: 1024px) {
	nav {
		padding: 3%;
		font-weight: 800;
		font-size: 110%;
		width: 1100px;
	}

	.header-cta {
		color: #fff;
		padding: 20px 30px;
	}
}
