/*  Mobile  */
.home-hero,
.home-hero-div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.home-hero-div{
	color: #6C8294;
}

.home-hero-div a{
	font-weight: 600;
	color: #6C8294;

}
h1{
	font-size: 32px;
}

.home-hero img{
	width: 20%;
}

/*  Tablet  */

@media screen and (min-width: 768px) {
    h1{
		font-size: 48px;
		width: 70%;
		margin: 0 0 4%;
	}
}


/*  Pc  */

@media screen and (min-width: 1040px) {
	.home-hero{
		flex-direction: row-reverse;
		align-items: center;
		justify-content: space-between;
		padding: 2% 5%;
	}
	
	
	.home-hero-div{
		text-align: left;
		align-items: flex-start;
		margin-left: 5%;
	}
}
