/*  Mobile  */
.home-hero,
.home-hero-div,
.home-hero-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.home-hero-form input {
	width: 150%;
	background-color: transparent;
    outline: none;
	box-shadow: 10px 10px 25px -10px #36536b40;
    border: none;
	border-radius: 50px;
	padding: 12px 20px;
}

/*  Tablet  */

@media screen and (min-width: 768px) {
}

/*  Pc  */

@media screen and (min-width: 1040px) {
}
