@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");

:root {
	--dark-pink: #ba4270;
	--charm-pink: #da6d97;
	--link-water-white: #fbfcfe;
	--san-juan-blue: #36536b;
	--mirage-blue: #1b262f;
	--light-san-juan-blue: #6c8294;
}

body {
	font-family: "Public Sans", serif;
}

h1 {
	font-size: 32px;
}

h1,
h2 {
	font-family: "DM Serif Display", serif;
	font-weight: 400;
}

h1,
h2 {
	color: #36536b;
}

a {
	text-decoration: none;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

p {
	color: #6c8294;
}

@media screen and (min-width: 768px) {
	h1 {
		font-size: 48px;
		width: 70%;
		margin: 0 0 4%;
	}
}
